# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-linux-app:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up GraalVM
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew nativeCompile
      - name: Store artifacts
        uses: actions/upload-artifact@v3
        with:
          name: linux-app
          path: build/native/nativeCompile/*
  build-macos-app:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v3
      - name: Set up GraalVM
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew nativeCompile
      - name: Store artifacts
        uses: actions/upload-artifact@v3
        with:
          name: macos-app
          path: build/native/nativeCompile/*
  build-windows-app:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v3
      - uses: microsoft/setup-msbuild@v1.1
        with:
          vs-version: '17'
      - name: Set up GraalVM
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm'
          cache: gradle
      - name: Build with Gradle
        run: ./gradlew nativeCompile --no-daemon
      - name: Store artifacts
        uses: actions/upload-artifact@v3
        with:
          name: windows-app
          path: build/native/nativeCompile/*